{% extends 'base.html' %}
{% load static %}
{% block main %}


        <!-- /. NAV TOP  -->

            <div class="sidebar-collapse" style="    font-size: 32px; display: flex;">
                        <a  onclick="click_jojo('one');"><i class="fa fa-github-alt "></i >   用户 </a>&ensp;
                        <a  class="head" onclick="click_jojo('two');"><i class="fa fa-desktop "></i> 个人信息 </a>&ensp;
                        <a class="head" onclick="click_jojo('three');"><i class="fa fa-table "></i> 博客 </a>&ensp;
                        <a  class="head" onclick="click_jojo('four');"><i class="fa fa-edit "></i> 写博 </a>
            </div>
            <div id="page-inner">
                <div id='one'class="chose" style="text-align: center;"><h1>欢迎登录个人中心</h1></div>
                <div id='two'class="chose hidden">
                    <div class="content ">
                        <div class="description">

							<!--DESCRIPTION ON HOME-->
							<div class="strong-text" style="font-family: 'Oswald', sans-serif;display: inline-block;font-size: 22.5px; margin: 10px 0px">Hello,<span>{{ name }}</span></div>
							<li class="focus-text" style="color: #666666;font-size: 14px;"><span>用户名不可编辑</span></li>
                            <li class="focus-text" style="color: #666666;font-size: 14px;"><span>邮箱注意格式，这里没有格式判断，后面继续优化</span></li>
                            <li class="focus-text" style="color: #666666;font-size: 14px;"><span>所有字段不能为空，这里没有进行判断，会修改不成功</span></li>
							<p class="large-paragraph"></p>
							<!--DESCRIPTION ON HOME ENDS-->


						<!--ALL PERSONAL DETAILS-->
						<h3 class="personal-info-title title" style="position: relative;margin-bottom: 20px;font-family: 'Oswald', sans-serif;font-weight: 400;line-height: 1.1;color: inherit;">Personal Info</h3>
                            <img id="avatarPreview" src="/media/headImg/{{ headImg }}" title="点击更换上传头像" style=" position: relative;left: 300px; height: 156px;width: 156px;">
                            <input type="file" id="avatarSlect" style="position:absolute;left: 310px;top: 460px; width: 156px;height: 156px;opacity: 0" >
						<form method="post" action="{% url 'blog:imageupdate' %}" enctype='multipart/form-data' id="updateform">
                            {% csrf_token %}
                            <ul class="personal-info" style="width: 800px;margin-right: auto; margin-left: auto;list-style: none;padding: 0;margin-bottom: 0;margin-top: 0;font-size: 14px;color: #111;">
							<li class="rotate-out rotated" style="margin-bottom: 9px; padding-left: 75px;position: relative;font-size: 12.5px;display: list-item;text-align: -webkit-match-parent;color: #111;"><label style="  position: absolute;left: 0; width: 75px;top: 0;bottom: 0;  min-width: 75px;font-size: 12.5px;font-weight: 600; background: #f4d03f; margin-right: 10px;padding: 4px 10px 5px; margin: 0;display: inline-block;max-width: 100%;">Name</label><input style="background: #111111;padding: 4px 10px 5px; color: #fff; display: inline-block;margin-left: 9px; " value="{{ name }}" id="name" readonly="readonly" name="name"></li>
							<li class="rotate-out rotated" style="margin-bottom: 9px; padding-left: 75px;position: relative;font-size: 12.5px;display: list-item;text-align: -webkit-match-parent;color: #111;"><label style="  position: absolute;left: 0; width: 75px;top: 0;bottom: 0;  min-width: 75px;font-size: 12.5px;font-weight: 600; background: #f4d03f; margin-right: 10px;padding: 4px 10px 5px; margin: 0;display: inline-block;max-width: 100%;">Email</label><input style="background: #111111;padding: 4px 10px 5px; color: #fff; display: inline-block;margin-left: 9px;" value="{{ email }}" id="email" name="email"/></li>
                            <li class="rotate-out rotated" style="margin-bottom: 9px; padding-left: 75px;position: relative;font-size: 12.5px;display: list-item;text-align: -webkit-match-parent;color: #111;"><label style="  position: absolute;left: 0; width: 75px;top: 0;bottom: 0;  min-width: 75px;font-size: 12.5px;font-weight: 600; background: #f4d03f; margin-right: 10px;padding: 4px 10px 5px; margin: 0;display: inline-block;max-width: 100%;">Phone</label><input style="background: #111111;padding: 4px 10px 5px; color: #fff; display: inline-block;margin-left: 9px;" value="{{ phone }}" id="phone" name="phone"/></li>
							<li class="rotate-out rotated" style="margin-bottom: 9px; padding-left: 75px;position: relative;font-size: 12.5px;display: list-item;text-align: -webkit-match-parent;color: #111;"><label style="  position: absolute;left: 0; width: 75px;top: 0;bottom: 0;  min-width: 75px;font-size: 12.5px;font-weight: 600; background: #f4d03f; margin-right: 10px;padding: 4px 10px 5px; margin: 0;display: inline-block;max-width: 100%;">Common</label><input style="background: #111111;padding: 4px 10px 5px; color: #fff; display: inline-block;margin-left: 9px;" value="{{ common }}" id="common" name="common"/></li>
						    <!--/ul.personal-info-->
                            <input id="avatar" name="avatar" src="/media/headImg/{{ headImg }}" style="display:none;"/>
                            <li><input type="button" id="imageupdate" onclick="bindAvatar1();" value="修改" /></li>
                                </ul>
                            <!--<input type="button" value="上传头像" onclick="file_click()"  style="display: flex"/>-->
                        </form>
                            <!--<input type="file" id="avatarSlect" style="position: fixed; left: 330px; top: 205px;opacity: 0;height: 199px;width: 199px;">-->

                            <!--<a style="position: relative;top: 40px; left: 165px;">点击更换上传头像</a>-->
                        </div>
                    </div>
                </div>
                <div id='three'class="chose hidden">
                    <div class="content no-padding timeline">
			            <table id="myTable" border="0" width="100" style="border: 1px solid #e9e9e9;width: 100%; border-radius: 5px">
				            <thead>
					        <tr>
						        <th>标题</th>
						        <th >创建时间</th>

					        </tr>
				            </thead>
					        <tbody>
                            {% for blog in blog_list %}
						        <tr style="border: 1px solid #e9e9e9;">
							        <td><input type="checkbox" /><a href="{% url 'blog:detail' blog.blog_number %}">{{ blog.title }}</a></td>
							        <td>{{ blog.create_data }}</td>


						        </tr>
                            {% empty %}
                                <tr style="border: 1px solid #e9e9e9;">
							        <td>null</td>
							        <td>null</td>
							        <td>null</td>
                            {% endfor %}
					        </tbody>
				        </table>
		            </div>
                </div>
                <div id='four'class="chose hidden">
                    <form method="post" action="{% url 'blog:user_info' %}">
                        {% csrf_token %}
                        <div class="content" style="padding: 25px">
			            <div class="field-wrap" style="margin: 0; padding: 0;border: 0;font-size: 100%;font: inherit;vertical-align: baseline;">
				            <h4 style="display: inline">标题</h4><input type="text" id="title" name="title" style="padding: 10px;font-size: 12px;font-family: Arial;color: #606060;border: 1px solid #e3e3e3; width: 100%;margin: 0 0 15px 0;"/>
			            </div>
			            <div class="field-wrap">
				            <h4>标签</h4><input type="text" id="blog_tag" name="blog_tag" style="padding: 10px;font-size: 12px;font-family: Arial;color: #606060;border: 1px solid #e3e3e3; width: 100%;margin: 0 0 15px 0;"/>
			            </div>

			            <div class="field-wrap wysiwyg-wrap">

				            <h4>内容</h4><textarea class="post" id="blog_content" name="blog_content" rows="5" style="padding: 10px;font-size: 12px; font-family: Arial;color: #606060;border: 1px solid #e3e3e3; background: #fff; width: 100%;margin: 0 0 15px 0;"></textarea>
			            </div>
			            <input type="submit" id="add" class="green" style="float: right;text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);border: 1px solid #719e37; margin: 0; background: linear-gradient(to bottom, #9bc747 0%,#82bd42 100%);" />
		                </div>
                    </form>
                </div>
             </div>


        <!-- /. NAV SIDE  -->

{% endblock  %}

{% block ckeditor %}
<script type="text/javascript" src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
<script type="text/javascript" src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>

{% endblock %}

{% block js %}




<script src="{% static 'blog/js/jquery-1.11.3.min.js' %}"></script>
<script src="{% static 'ckeditor/ckeditor/plugins/prism/lib/prism/prism_patched.min.js' %}"></script>
<link rel="stylesheet" href="{% static 'blog/css/prism.css' %}">
<script>
     CKEDITOR.replace( 'blog_content' , {uiColor: '#9AB8F3'});
</script>
<script src="{% static 'blog/js/user_info-1.3.js' %}"></script>
<script src="{% static 'blog/js/headimg1.1.js' %}"></script>

{% endblock  %}



